.form-login {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.footer p {
    margin: 0;
}